<div class="container d-flex align-items-center justify-content-center" style="height: 100vh">
  <div class="col-4">
    <form action="/answer" data-turbo="false">
      <input type="text" name="question" class="form-control" placeholder="Chat with your coach">
      <input type="submit" value="Ask!" class="btn btn-primary mt-3">
    </form>
  </div>
</div>
