<div class="container d-flex align-items-center justify-content-center">
  <div class="col-4 pt-5">
    <form action="/answer" data-turbo="false">
      <input type="text" name="question" class="form-control" placeholder="Chat with your coach">
      <input type="submit" value="Ask!" class="btn btn-primary mt-3">
    </form>
  </div>
</div>
